/* Style for News Truck */

@font-face {
    font-family: American Typewriter;
    src: url('AmericanTypewriter.ttc');
}

body{
	background-color: #f1f1f1;
	padding: 0;
}

.container{
	background-color: #f1f1f1;
	padding: 0;
}

.jumbotron{
	background-color: #ffffff;
	padding-left: 50px;
	padding-right: 50px;
}
    
#titlesection{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid black;
	text-align: center;
}

#titletext{
	font-size: 30pt;
	background-color: #f1f1f1;
	padding: 0 10px;
	color: #f55f51;
}

.col-md-3{
	padding: 10px;
	background-color: #ffffff;
}

#firstcomment{
	margin-left: 60px;
}

.commentauthor{
	text-align: right;
	font-size: 14pt;
}

.btn-primary{
	right: 0;
	text-align: right;
	background-color: #f55f51;
	border: none;
}

.btn-primary:hover{
	background-color: #979797;
}

.topicsection{
	padding: 30px;
	background-color: #ffffff;
}

#image {
	width: 100%;
	height: 100%;
}

.grid {
  background: #EEE;

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.img-wrapper{
	position: relative;
}

.textover{
/*	position: absolute;*/
    left: 0;
    top: 0;
    padding: 10px;
    /*border: 1px solid #FFF;*/
    width: 100%;
    color: #ffffff;
    margin: 5px;
}

.paragraph{
/*	position: absolute;*/
    left: 0;
    top: 150px;
    padding: 10px;
    /*border: 1px solid #FFF;*/
    width: 100%;
    color: #ffffff;
    margin: 5px;
}

.grid-item {
  
  float: left;
  background: #ffffff;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

#dreamdiv{
/*    display: flex; */
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
}

#divimage{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg");
    background-size: cover;
    position: relative;
}

#divimage2{
    background-image: url("../Images/milk.jpg");
    background-size: cover;
    position: relative;
}

#divimage3{
    background-image: url("../Images/film.jpg");
    background-size: cover;
    position: relative;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%;}
.grid-item--width4{ width:  80%; }
.grid-item--width5 {width: 100%;}

.grid-item--height1 { height: 100px; }
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 400px; }
.grid-item--height4 { height: 600px; }

.qrcode{
    text-align: right;
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 20px;
}

.foot{
    position: absolute;
    left: 0;
    right: 0;
    bottom : 20px;
    text-align: center;
}

span.glyphicon{
    font-size: 20pt;
    color: #ffffff;
}

.colfoot{
    text-align: center;
}

#commenttitle{
    text-align:center;
    font-size: 28pt;
	padding: 0 10px;
	color: #f55f51;
    vertical-align: middle;
}

@media all and (min-width: 1001px) {
  .textover, #commenttitle {
    font-size: 28pt;
  }
    .paragraph, span.glyphicon {
        font-size: 18pt;
    }
    
    .commentauthor {
        font-size: 14pt;
    }
    .qrcode{
        width: 50px;
        height: 50px;
    }
    
}
@media all and (max-width: 1000px) and (min-width: 700px) {
  .textover, #commenttitle {
    font-size: 18pt;
  }
    .paragraph, span.glyphicon {
        font-size: 14pt;
    }
    
    .commentauthor {
        font-size: 10pt;
    }
    
    .qrcode{
        width: 30px;
        height: 30px;
    }
}
@media all and (max-width: 699px) and (min-width: 320px) {
  .textover, #commenttitle {
    font-size: 14pt;
  }
    .paragraph, span.glyphicon {
        font-size: 10pt;
    }
    
    .commentauthor {
        font-size: 8pt;
    }
    .qrcode{
        width: 15px;
        height: 15px;
    }
}

