/* Style for News Truck */

@font-face {
    font-family: American Typewriter;
    src: url('AmericanTypewriter.ttc');
}

body{
	background-color: #f1f1f1;
	padding: 0;
}

.container{
	background-color: #f1f1f1;
	padding: 0;
}

.jumbotron{
	background-color: #ffffff;
	padding-left: 50px;
	padding-right: 50px;
}

#titlesection{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid black;
	text-align: center;
}

#titletext{
	font-size: 40px;
	background-color: #f1f1f1;
	padding: 0 10px;
	color: #f55f51;
}

.col-md-3{
	padding: 10px;
	background-color: #ffffff;
}

#firstcomment{
	margin-left: 60px;
}

.comment{
	font-size: 16pt;
}

.commentsection{
	padding-bottom: 30px;
}

.commentauthor{
	text-align: right;
	font-size: 10pt;
}

.btn-primary{
	right: 0;
	text-align: right;
	background-color: #f55f51;
	border: none;
}

.btn-primary:hover{
	background-color: #979797;
}

.topicsection{
	padding: 30px;
	background-color: #ffffff;
}

#image {
	width: 100%;
	height: 100%;
}

.grid {
  background: #EEE;

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.img-wrapper{
	position: relative;
}

.textover{
	position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    /*border: 1px solid #FFF;*/
    width: 100%;
    color: #ffffff;
    margin: 5px;
}

.paragraph{
	position: absolute;
    left: 0;
    top: 150px;
    padding: 10px;
    /*border: 1px solid #FFF;*/
    width: 100%;
    color: #ffffff;
    margin: 5px;
}

.grid-item {
  
  float: left;
  background: #ffffff;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

#dreamdiv{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%;}
.grid-item--width4{ width:  80%; }
.grid-item--width5 {width: 100%;}

.grid-item--height1 { height: 100px; }
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 400px; }
.grid-item--height4 { height: 600px; }


